body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f4f4f4;
  box-sizing: border-box;
}

.container {
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  h1{
    text-align: center;
  }
}
ul>li{
  background-color: whitesmoke;
  margin-bottom: 10px;
  
  padding: 10px;
}
ul{
  padding: 20px;
}
li>button{
  padding:0 20px ;
  font-size: 20px;
  border-radius: 10px;
  font-weight: 800;
  background-color: red;
  color: white;
  display: none;
  

}
li{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

li:hover > button{
  display: inline-block;
}


h1 {
  margin-bottom: 20px;
}

input {
  padding: 10px;
  width: 250px;
  font-size: 16px;
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
}

li > button:hover {
  transform: scale(1.1x);
  font-size: 23px;
}

p {
  font-size: 18px;
  color: #333;
}
